.svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon_fb {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_insta {
  font-size:(40/10)*1rem;
  width:(40/40)*1em;
}
